.d1{
    background-color: blue;
    height: 100px;
    width: 100px;
}
.d2{
    background-color: yellow;
    height: 100px;
    width: 100px;
    position: relative;
    left: 100px;
    bottom: 100px;

    
}
.d3{
    background-color: red;
    height: 100px;
    width: 100px;
    position: relative;
    left: 200px;
    bottom: 200px;
}