.my-pic{
  width: 100%;
  border-radius: 100%;
}

.my-link{
text-align: right;

}


.good{
color: blue;
}

.row{
    padding-top: 5rem;
}
.music{
  width: 50%;
}

.picture{
   width: 50%;
   border-radius: 100%;

  }

  .cell{
    border-spacing: 20;
  }

.cloud{
  position: absolute;
}
.topbox{
  background-color: lightblue;
  text-align: center;
  margin: 0;
  font-family: 'Merriweather', serif;
}
.puter{
  width: 30%;
  border-radius: 100%;
}
.dots{
  color: aqua;
}
.btn{
 color: blue;
}
.profile{
width: 100%;
border-radius: 100%;



}
.body{

text-align: center;
margin: 0%;
font-family: 'Merriweather', serif;
display: block;

}
.pro{

text-underline-position: below;

}
.ok{


  text-underline-position: below;
}